<!DOCTYPE html>
<html lang="en">
<head th:include="layout :: htmlhead" th:with="title='靶场项目'">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    主体区域
    <div class="layui-body">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-xs9">

    <meta charset="UTF-8">
    <title>欢迎</title>
</head>

登陆成功
                </div></div></div></div></div>
</body>
</html>