<!DOCTYPE html>
<html lang="en">


<!--head部分-->
<head th:include="layout :: htmlhead" th:with="title='靶场项目'">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    主体区域
    <div class="layui-body">
        <div class="layui-container">
            <div class="layui-row">
                <for class="layui-col-xs9">

                    <h1>请求伪造</h1>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">跨站请求伪造</h3>
                        </div>
                        <div class="panel-body">
                            <h5>漏洞介绍：</h5>
                            一般来说，攻击者通过伪造用户的浏览器的请求，向访问一个用户自己曾经认证访问过的网站发送出去，使目标网站接收并误以为是用户的真实操作而去执行命令。常用于盗取账号、转账、发送虚假消息等。
                            攻击者利用网站对请求的验证漏洞而实现这样的攻击行为，网站能够确认请求来源于用户的浏览器，却不能验证请求是否源于用户的真实意愿下的操作行为。
                            <br>
                            <h5>案例：</h5>本例子中，起初需要利用BP拦截下来提交修改页面请求，然后构建包含POC的网页，诱导被攻击者点击。但是为了方便测试，我们自动生成了poc又到的网页，由下方"POC测试"按钮即可测试漏洞。
                            <br>
                            <h5>参数变量：</h5> "password"
                            <h5>结果说明：</h5> 点击"诱导请求"后，系统会执行"伪造"的请求（伪造请求内容是修改密码，密码改为"POC"）。
                        </div>
                    </div>

                    <form th:action="@{/CSRF/modPass}" method="post">
                        <h1>修改密码</h1>
                        <hr>
                        <p th:text="用户名+':'+${name}" style="color:#ff0000;"></p>
                        <p>密码：<input type="text" name="password"></p>
                        <p><input type="submit"> </p>
                    </form>


                    <form th:action="@{/CSRF/modPass}" method="post">
                        <input type="text" name="password" value="POC" hidden></p>
                        <p><input type="submit" value="伪造请求"> </p>
                    </form>
            </div>
        </div>
    </div>
</div>



</form>
</body>
</html>