<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <!-- 配置数据库连接 connection -->
  <session-factory>
    <!-- 数据库驱动 -->
    <property name="hibernate.connection.driver_class">org.h2.Driver</property>
    <!-- 数据库地址 localhost可以写作 jdbc:mysql:/// -->
    <property name="hibernate.connection.url">jdbc:h2:mem:h2db;INIT=runscript from 'classpath:schema.sql';DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE</property>
    <!-- 数据库用户名 -->
    <property name="hibernate.connection.username">sa</property>
    <!-- 数据库用户的密码 -->
    <property name="hibernate.connection.password">seczone@123</property>
    <property name="current_session_context_class">thread</property>

    <mapping class="org.spring.demo.controller.vulnercontroller.storexss.Person"></mapping>
  </session-factory>
</hibernate-configuration>
